.avatar-icon {
        /* max-width: 100%; */
        border: 0;
        width: 100px;
        height: auto;
        margin-top: 5px;
        margin-left: -20px;
        /* margin-bottom: 20px; */
    }