<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tabInicio">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabNotificaciones">
      <ion-icon name="notifications-sharp"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabMenciones">
      <ion-icon name="megaphone-sharp"></ion-icon>
      <ion-label>Menciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabPerfil">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabConfiguraciones">
      <ion-icon name="settings-sharp"></ion-icon>
      <ion-label>Confguraciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>